*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.header {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #F4F4F4;;
}
a {
    text-decoration: none;
}
.header-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.tel a{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    height: 115px;
}
.header_img {

}
.address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.about-clinic {
}
.tel {

}



.nav-text {
    font-weight: 300;
}
.nav-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    height: 73px;
    display: grid;
    grid-template-columns: 1fr 75px 385px;
    align-items: center;
}
.nav-left-content{
    display: flex;
    justify-content: space-between;
}
.services a{
    font-weight: 300;
}
.services {
}
.prices {
}
.before-after {
}
.doctors {
}
.reviews {
}
.toPatients {
}
.fromOtherCities {
}
.nav-right-content {
    grid-column-start: 3;
    display: flex;
    justify-content: space-between;
}
.soc_nets {
    width: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.feedback {
    width: 180px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #2B2B2B;
    border-radius: 2px;
}
.feedback a{
    margin-top: 6.5px;
    display: block;
    text-align: center;
    height: 100%;
}
.youtube_img{
    width: 24px;
    height: 17px;
}
.VK_img{
    width: 19px;
    height: 19px;
}
.inst_img{
    width: 19px;
    height: 19px;
}




.slider-content{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 1180px;
}
.first-slider {
    width: 580px;
    height: 460px;
    overflow: hidden;
}
.first-slider-wrapper {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    min-width: 0;
}
.first-slider-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    width: 580px;
    height: 460px;
    background: #EAF1F1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.swiper-slide {
}
.first-slide_img {
    right: 0px;
    left: auto;
    position: absolute;
    z-index: 1;
}
.first-slide-header {
    margin-top: 32px;
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #2B2B2B;
    position: relative;
    z-index: 2;
}
.slide-text {
    font-weight: 300;
    color: #2B2B2B;
    z-index: 2;
    width: 408px;
    height: 171px;
    margin-bottom: 51px;
}
.first-slide_link {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    left: 32px;
    right: auto;
    width: 247px;
    height: 43px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid #2B2B2B;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
}
.first-slider-pagination{
} 
.swiper-pagination{
}
.slider-content-right {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-content: space-around;
}
.slider-content-box {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 20px;
    width: 280px;
    height: 220px;
}
.box_img {
    right: 0px;
    left: auto;
    position: absolute;
    z-index: 1;
    width: 280px;
    height: 220px;
}
.box-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
    position: relative;
    z-index: 2;
}
.box-link {
    text-align: center;
    width: 134px;
    height: 32px;
    border: 1px solid #2B2B2B;
    border-radius: 2px;
    padding-top: 6px;
    position: relative;
    z-index: 2;
}
.box-link a{
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
}
.swiper-pagination-bullet-active {
    width: 40px;
    border-radius: 30px;
    margin: 0px 8px 0px 8px;
}
.swiper-pagination-bullet {
    background: #918c8c;
    margin: 0px 8px 0px 8px;
}
.first-slider-pagination{
    position: relative;
    z-index: 2;
}
.patients-header{
    border-bottom: 2px solid #f4f4f4;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
}
.patients-content{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #2B2B2B;
    padding-bottom: 16px;
    max-width: 1180px;
    margin: 100px auto 118px auto;
    z-index: 2;
}


.patients-slider {
    margin: 100px auto 120px auto;
    width: 580px;
    height: 271px;
    overflow: hidden;
    position: relative;
}
.patients-slider-slide {
    width: 580px;
    height: 222px;
    display: flex;
}
.swiper-slide {
}
.patients-slider-pagination .swiper-pagination {
    position: absolute;
}
.swiper-pagination {
}
.patients-slider-pagination .swiper-pagination-bullet-active{
    width: 40px;
    height: 12px;
}
.patients-slider-pagination .swiper-pagination-bullet-active-next,
.patients-slider-pagination .swiper-pagination-bullet-active-prev{
    width: 12px;
    height: 12px;
}
.patients-button-prev::after, .patients-button-next::after {
    color: #FFFF;
    width: 7px;
    height: 14px;
    font-size: 20px !important;
}


.doctors-slider-wrapper{
    max-width: 1180px;
    height: 469px;
    margin: 90px auto 96px auto;
    position: relative;
}
.doctors-slider {
    /* margin: 90px auto 96px auto; */
    margin-left: 100px;
    max-width: 1020px;
    height: 469px;
    overflow: hidden;
    position: relative;
}
.doctors-slider-slide {
    width: 300px;
    height: 375px;
    display: grid;
    grid-template: 47px 75px repeat(3, 1fr) 185px / 142px 150px;
    background-size: 270px 375px;
    background-image: url(../img/teeth.png);
    background-repeat: no-repeat;
}
.doctors-slider-slide img{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 150px;
    height: 150px;
}
.doc-name {
    font-weight: 400;
    grid-row-start: 3;
    margin-bottom: 8px;
}
.doc-spec {
    font-weight: 300;
    grid-row-start: 4;
    margin-bottom: 17px;
}
.exp span{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.exp {
    font-weight: 300;
    grid-row-start: 5;
}
.doctors-slider-button-next::after,
.doctors-slider-button-prev::after{
    color: #000000;
    font-size: 35px !important;
    width: 14px;
    height: 35px;
}


.otherCities{
    max-width: 1180px;
    margin: 94px auto 0px auto;
    display: flex;
    justify-content: space-between;
}
.otherCities-box {
    width: 233px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.otherCities-box-header {
    font-weight: 400;
    text-align: center;
}
.otherCities-box-content {
    font-weight: 300;
    line-height: 21px;
    text-align: center;
}
.otherCities-box_img{
    align-self: flex-end;
    width: 34px;
    height: 34px;
}
.otherCities-box_img img{
    width: 34px;
    height: 34px;
}