*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.container{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.header-border{
    height: 1px;
    border-bottom: 2px solid #F4F4F4;
}
a {
    text-decoration: none;
}
.header-text {
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.tel a{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    height: 115px;
}
.address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.nav-text {
    font-weight: 300;
}
.nav-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .nav-box:link img{
    transform: rotate(180deg);
}
.nav-box:visited img{
    transform: rotate(180deg);
}
.nav-box:hover img{
    transform: rotate(180deg);
}
.nav-box:active img{
    transform: none;
} */
.nav-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    height: 73px;
    display: grid;
    grid-template-columns: 61.03% 6.35% 32.62%;
    align-items: center;
}
.nav-left-content{
    display: flex;
    justify-content: space-between;
}
.nav-right-content {
    grid-column-start: 3;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.soc_nets {
    width: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.feedback {
    width: 180px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #2B2B2B;
    border-radius: 2px;
}
.feedback a{
    margin-top: 6.5px;
    display: block;
    text-align: center;
    height: 100%;
}
.feedback:hover{
    background: url("../img/feedback_hover.png") no-repeat;
    background-size: 100%;
    border: none;
    transform: translate(2px , -2px);
}
.youtube_img{
    width: 24px;
    height: 17px;
}
.vk_img{
    width: 19px;
    height: 19px;
}
.inst_img{
    width: 19px;
    height: 19px;
}




.slider-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.first-slider {
    width: 580px;
    height: 460px;
    position: relative;
    overflow: hidden;
}
.first-slider-wrapper {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    min-width: 0;
}
.first-slider-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    width: 580px;
    height: 460px;
    background: #EAF1F1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.first-slide_img {
    right: 0px;
    left: auto;
    position: absolute;
    z-index: 1;
}
.first-slide-header {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #2B2B2B;
    position: relative;
    z-index: 2;
}
.slide-text {
    font-weight: 300;
    color: #2B2B2B;
    z-index: 2;
    width: 408px;
    height: 171px;
    margin-bottom: 51px;
}
.first-slide_link {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    left: 32px;
    right: auto;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border: 1px solid #2B2B2B;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
}
.slider-content-right {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-content: space-around;
}
.slider-content-box {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 20px;
    width: 280px;
    height: 220px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.box_img {
    right: 0px;
    left: auto;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.box-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
    position: relative;
    z-index: 2;
}
.box-link {
    text-align: center;
    max-width: 134px;
    border: 1px solid #2B2B2B;
    border-radius: 2px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.box-link a{
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
}
.first-slider .swiper-pagination-bullet-active {
    width: 40px !important;
    height: 8px !important;
    border-radius: 30px;
    background: #7E7E7E;
    margin: 0px !important;
}
.first-slider .swiper-pagination-bullet {
    height: 8px;
    background: #918c8c;
    margin: 0px !important;
}
.first-slider-pagination.swiper-pagination{
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px !important;
    left: 460px;
    bottom: 24px;
}
.patients-header{
    height: 56px;
}
.patients-content{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #2B2B2B;
    /* padding-bottom: 16px; */
    margin: 100px auto 118px auto;
    z-index: 2;
}


.patients-slider {
    margin: 100px auto 120px auto;
    width: 1160px;
    height: 271px;
    overflow: hidden;
    position: relative;
}
.patients-slider-slide {
    width: 580px;
    height: 222px;
    display: flex;
}
.patients-slider-pagination.swiper-pagination {
    position: absolute;
    width: 98px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 87%;
}
.patients-slider-pagination .swiper-pagination-bullet-active{
    width: 40px;
    height: 12px;
    background: #7E7E7E;
    border-radius: 30px;
}
.patients-slider-pagination.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    background: #918c8c;
    margin: 0px !important;
    position: absolute;
}
.patients-nav-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 14px;
    right: 46.3%;
    top: 41%;
    z-index: 2;
}
.patients-button-prev::after, .patients-button-next::after {
    color: #FFFF;
    width: 7px;
    height: 14px;
    font-size: 20px !important;
}


.doctors-slider-wrapper{
    height: 469px;
    margin: 90px auto 96px auto;
    position: relative;
}
.doctors-slider {
    margin-left: 100px;
    max-width: 1020px;
    height: 469px;
    overflow: hidden;
    position: relative;
}
.doctors-slider-slide {
    width: 300px;
    height: 375px;
    display: grid;
    grid-template: 47px 75px repeat(3, 1fr) 185px / 142px 150px;
    background-size: 270px 375px;
    background-image: url(../img/teeth.png);
    background-repeat: no-repeat;
}
.doctors-slider-slide img{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 150px;
    height: 150px;
}
.doc-name {
    font-weight: 400;
    grid-row-start: 3;
    margin-bottom: 8px;
}
.doc-spec {
    font-weight: 300;
    grid-row-start: 4;
    margin-bottom: 17px;
}
.exp span{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.exp {
    font-weight: 300;
    grid-row-start: 5;
}
.doctors-slider-button-next::after,
.doctors-slider-button-prev::after{
    color: #000000;
    font-size: 35px !important;
    width: 14px;
    height: 35px;
}


.otherCities{
    margin: 94px auto 0px auto;
    display: flex;
    justify-content: space-between;
}
.otherCities-box {
    width: 233px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2px;
}
.otherCities-box-header {
    font-weight: 400;
    text-align: center;
}
.otherCities-box-content {
    font-weight: 300;
    line-height: 21px;
    text-align: center;
}
.otherCities-box_img{
    align-self: flex-end;
    width: 34px;
    height: 34px;
}
.otherCities-box_img img{
    width: 34px;
    height: 34px;
}


.pros-content {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    margin-top: 100px;
}
.pros-slider {
    width: 680px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0px auto 0px auto;
}
.pros-slider-slide {
    width: 680px;
    height: 200px;
    display: grid;
    grid-template: 39px 46px 44px 28px 43px / 184px 333px 163px;
    background: linear-gradient(90deg, #E7EEFE 0%, #B2C9FF 100%);
    border-radius: 2px;
}
.pros-slider-slide_img {
    grid-area: 1 / 1 / 6 / 2;
    margin: 15px auto 15px 1px;
    max-width: 114px;
    max-height: 170px;
}
.text-content-header {
    grid-row-start: 2;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #575757;
}
.text-content {
    grid-row: 4;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #575757;
}
.text-content span{
    font-weight: 700;
}
.pros-slider-nav{
    width: 100px;
    height: 32px;
    position: absolute;
    z-index: 3;
    bottom: 24px;
    right: 28px;
}
.pros-slider-button-prev::after,
.pros-slider-button-next::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: black;
    opacity: 0.55;
    border-radius: 50%;
    width: 32px !important;
    height: 32px !important;
    font-size: 18px !important;
}
.pros-content-right {
    display: grid;
    grid-template: 1fr 1fr / 1fr 148px;
    height: 200px;
    max-width: 480px;
    margin: auto;
    background: linear-gradient(90deg, #60C7C0 0%, #40F5E9 100%);
    border-radius: 2px;
}
.pros-content-right-container{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pros-content-right-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 28px;
}
.pros-content-right-text {
    grid-column-start: 1;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 28px;
}
.pros-content-right-img {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    justify-items: center;
    align-items: center;
}
.pros-content-right-img img{
    max-width: 128px;
    max-height: 121px;
}


.services-content{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #2B2B2B;
    max-width: 1180px;
    margin: 120px auto 100px auto;
    z-index: 2;
}


.services-wrapper {
    margin: 80px auto 150px auto;
    display: flex;
    justify-content: space-between;
}
.services-column-header {
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
    margin-bottom: 32px;
}
.services-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 124px;
}
.services-list li a{
    font-weight: 300;
    text-decoration: underline;
    color: #5F5F5F;
}

.about-content{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #2B2B2B;
    max-width: 1180px;
    margin: auto;
}


.about-clinic-wrapper {
    margin: 70px auto 172px auto;
    display: flex;
    height: 380px;
}
.about-clinic-descr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.descr {
    max-width: 446px;
    font-weight: 300;
    line-height: 24px;
}
.descr span{
    font-weight: 400;
}
.about-clinic-media {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 360px;
}
.about-clinic_video {
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 65px;
    width: 420px;
    height: 270px;
    background-image: url(../img/bg-video.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.about-clinic_video video{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
}
.about-clinic_play {
    position: relative;
    z-index: 3;
    width: 94px;
    height: 94px;
    left: 163px;
    top: 88px;
}
.about-clinic-pic {
    grid-column-start: 3;
    position: relative;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-clinic-pic img{
    max-width: 280px;
    max-height: 180px;
}


.cont-for-review-buttons{
    margin: 80px auto 130px auto;
    position: relative;
}
.review-slider {
    max-width: 1020px;
    margin: auto;
    overflow: hidden;
}
.review-slider-wrapper{
    display: flex;
    min-width: 0;
}
.review-slider-slide {
    width: 300px;
    height: 505px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review-slide-header {
    display: grid;
    grid-template: 1fr 1fr / 59px 1fr;
}
.review-slide_img {
    width: 59px;
    height: 59px;
    grid-area: 1 / 1 / 3 / 2;
}
.review-slide_name {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: auto auto 8px 20px;
}
.review-slide_stars{
    width: 78px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 32px;
}
.review-slide_star {
    width: 12px;
    height: 12px;
}
.review-slide_text {
    font-weight: 200;
    color: #052129;
}
.review-slide_video {
    position: relative;
    width: 300px;
    height: 190px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.review-slide_video1{
    background-image: url(../img/review_pic1.png);
}
.review-slide_video2{
    background-image: url(../img/review_pic2.png);
}
.review-slide_video3{
    background-image: url(../img/review_pic3.png);
}
.review-slide_play {
    position: absolute;
    width: 79px;
    height: 79px;
    z-index: 2;
    left: 110px;
    top: 56px;
}
.review-slide_play img{
    width: 79px;
    height: 79px;
}
.review-slider-button-prev::after,
.review-slider-button-next::after{
    width: 14px;
    height: 35px;
    color: #2B2B2B;
}



.appointment {
    margin: 130px auto 120px auto;
    background: radial-gradient(83.43% 942.2% at 83.43% 50%, #ECF2FF 0%, #B2C9FF 100%);
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
}
.appointment-text {
    display: grid;
    grid-template-rows: 60px 66px 32px 23px 20px 23px 20px 23px 39px 47px 1fr;
    margin-left: 80px;
}
.appointment-text a{
    grid-row-start: 10;
}
.appointment-header {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #2B2B2B;
    grid-row-start: 2;
}
.app-text {
    font-weight: 200;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
    margin-bottom: 36px;
}
.app-text1{
    grid-row-start: 4;
}
.app-text2{
    grid-row-start: 6;
}
.app-text3{
    grid-row-start: 8;
}
.app-link {
    background: linear-gradient(89.84deg, #FFDD84 0.12%, #FFE49E 99.86%);
    border-radius: 2px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 242px;
    height: 47px;
}



.pros-link {
    height: 260px;
    margin: 101px auto 120px auto;
    display: flex;
    justify-content: flex-start;
    background: radial-gradient(100% 1129.3% at 0% 29.42%, #ECF2FF 0%, #B2C9FF 100%);
    border-radius: 2px;
}
.pros-link_img, .pros-link_img img{
    max-width: 290px;
    max-height: 226px;
}
.pros-link_img{
    margin: 17px 39px auto 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pros-link-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.pros-link-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pros-link-text_header {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #2B2B2B;
    max-width: 615px;
}
.pros-link-text-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    color: #2B2B2B;
}
.pros-link-text-text span{
    font-weight: 500;
}
.pros-link_link {
    background: linear-gradient(89.84deg, #FFDD84 0.12%, #FFE49E 99.86%);
    border-radius: 2px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 10px 30px;
    color: #FFFFFF;
    margin-right: 50px;
}



.rec-slider {
    margin: 80px auto 101px auto;
    height: 288px;
    overflow: hidden;
    position: relative;
}
.rec-slider-wrapper {
    display: flex;
    min-width: 0;
}
.rec-slider-slide {
    width: 380px;
    height: 225px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.rec-slide_textbox{
    margin-left: 24px;
    max-width: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rec-slide_date {
    font-weight: 100;
    font-size: 12px;
    line-height: 14px;
    color: #2B2B2B;
}
.rec-slide_header {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.rec-slide_link {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #2B2B2B;
}
.rec-slide_img {
    grid-column-start: 2;
    grid-row-start: 1;
    position: absolute;
    top: 17px;
    right: 23px;
    z-index: 2;
}
.rec-slide_bg {
    grid-column-start: 2;
    grid-row-start: 1;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 0px;
}
.rec-slider-pagination{
    position: absolute;
    left: 85% !important;
    width: 98px !important;
    height: 14px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rec-slider-pagination .swiper-pagination-bullet,
.rec-slider-pagination .swiper-pagination-bullet{
    width: 12px;
    height: 12px !important;
    background: #918c8c;
    margin: 0px !important;
}
.rec-slider-pagination
.swiper-pagination-bullet-active{
    width: 40px;
    height: 12px;
    background: #7E7E7E;
    border-radius: 30px;
}


.map {
    margin: 120px auto 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.map-content {
    width: 382px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url("../img/map_teeth.png") no-repeat;
}
.map-content-header {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #2B2B2B;
    margin-left: 47px;
    margin-bottom: 8px;
}
.map-content-textarea{
    margin-left: 48px;
    margin-top: 30px;
}
.map-content-textarea, .map-content-textarea a{
    font-weight: 200;
    color: #2B2B2B;
}


.footer {
    max-width: 1180px;
    height: 350px;
    margin: 120px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    height: 350px;
}
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-logo {
    max-width: 272px;
    max-height: 144px;
}
.footer-phone a{
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 144px;
    margin-top: 90px;
}
.footer-menu a{
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.footer-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 92px;
    height: 144px;
}
.footer-icons a img{
    width: 24px;
    height: 24px;
}
.underfooter{
    display: flex;
    justify-content: space-between;
}
.underfooter-text{
    font-weight: 100;
    font-size: 12px;
    line-height: 14px;
    color: #A5A5A5;
}



.cont{
    max-width: 1440px;
    margin: 0px auto 35px auto;
    height: 628px;
    background: radial-gradient(100% 525.78% at 100% 0%, #4FCAFF 0%, #E2FDFF 100%);
}
.consult{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}
.consult-tomain{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #767676;
}
.consult-header{
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #2B2B2B;
    margin-top: 150px;
    margin-bottom: 24px;
}
.consult-tomain span{
    color: #CCCCCC;
}
.back_link{
    position: relative;
}
.back_link a{
    position: absolute;
    top: 50px;
}
.consult a .app-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 2px;
    color: #2B2B2B;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}
.consult-img{
    display: flex;
    align-items: flex-end;
}


.otherCities-cont{
    margin: 78px auto 100px auto;
    display: flex;
    justify-content: space-between;
}
.otherCities-box {
    max-width: 233px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.otherCities-header {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2B2B2B;
    width: 167px;
}
.otherCities-text {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #2B2B2B;
}
.header-color1{
    background: #FFEAB5;
}
.header-color2{
    background: #E2FDFF;
}
.header-color3{
    background: #FF7E95;
}
.header-color4{
    background: #ADF3EE;
}
.header-color5{
    background: #E8AEFF;
}



.imp-cont {
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.imp-text-content {
    max-width: 544px;
}
.imp-header {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #2B2B2B;
    margin-bottom: 20px;
}
.imp-header-border{
    width: 464px;
    height: 2px;
    background: linear-gradient(90deg, rgba(231, 238, 255, 0.6) 0%, #B3CAFF 100%);
    margin-bottom: 36px;
}
.imp-text {
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    color: #2B2B2B;
}


.ben-cont {
    height: 94px;
    margin: 130px auto 100px auto;
}
.ben-text-content {
    position: absolute;
    width: 700px;
}
.ben-header {
    position: absolute;
    z-index: 4;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #2B2B2B;
    top: 47px;
}
.ben-header-back {
    position: absolute;
    z-index: 1;
    font-weight: 900;
    font-size: 80px;
    line-height: 94px;
    color: #ECECEC;
}


.allvideo-cont {
    max-width: 1180px;
    margin: 80px auto 50px auto;
    display: grid;
    grid-template: repeat(3, 225px) / repeat(3, 380px);
    justify-content: space-between;
}
.allvideo-box {
    width: 380px;
    height: 225px;
    position: relative;
}
.allvideo-box_video{
    background: url("../img/bg-video.png") no-repeat;
    background-size: 100%;
}
.allvideo-box_video video{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
.allvideo_play{
    top: 66px;
    left: 143px;
}
.allvideo-box-img {
    position: absolute;
    z-index: -1;
}
.allvideo-box-header {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin: 40px auto 13px 23px;
    max-width: 262px;
}
.allvideo-box-text {
    max-width: 233px;
    margin-left: 23px;
    font-weight: 300;
    color: #2B2B2B;
}
.img2{
    left: 5px;
    top: 0;
}
.img3{
    right: 0px;
    top: 0px;
}
.img5{
    right: 0;
}
.img6{
    bottom: 0;
}
.img7{
    bottom: 0;
    left: 5px;
}
.img8{
    bottom: 0;
    right: 0;
}



.process-cont {
    max-width: 1180px;
    margin: 0 auto 100px auto;
}
.process-up {
    display: flex;
    justify-content: space-between;
}
.process-box {
    max-width: 300px;
    height: 240px;
}
.process-number {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #96DBFF;
}
.process-header {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #2B2B2B;
}
.process-text {
    color: #2B2B2B;
    font-weight: 300;
}
.process-text a{
    text-decoration: underline;
    color: #308FFF;
}
.process-down {
    display: flex;
    justify-content: space-evenly;
}



.imp-img-cont {
    max-width: 1180px;
    height: 425px;
    margin: 90px auto 120px auto;
}
.imp-img-link {
    width: 100%;
    height: 100%;
}



.doctors-slider-slide_sec{
    position: relative;
    width: 350px;
    height: 460px;
    /* display: grid;
    grid-template: 47px 75px repeat(3, 1fr) 185px / 142px 150px; */
    background-size: 270px 375px;
    background-image: url(../img/teeth.png) ;
    background-repeat: no-repeat;
}
.doctors-slider-slide_sec img{
    position: absolute;
    right: 0;
    top: 0;
}
.doc-name_sec{
    margin-top: 100px;
    max-width: 65px;
}
.doc-spec_sec{
    margin-top: 8px;
    max-width: 142px;
}
.exp_sec{
    margin-top: 12px;
    max-width: 292px;
}
.exp_sec2{
    margin-top: 16px;
    margin-bottom: 14px;
}
.slide-link{
    width: 177px;
    height: 38px;
    padding-left: 28px;
    padding-top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border-radius: 2px;
    background: linear-gradient(89.84deg, #FDCC8A 0.12%, #FDCC8A 99.86%);
}
.slide-link_bgb{
    background: linear-gradient(89.84deg, #80B3FF 0.12%, #80B3FF 99.86%);
}
.slide-link_bgp{
    background: linear-gradient(89.84deg, #FDCEB8 0.12%, #FDCEB8 99.86%);
}



.price-slider {
    max-width: 1180px;
    height: 750px;
    margin: 0 auto 100px auto;
    overflow: hidden;
    position: relative;
}
.price-slider-wrapper {
    display: flex;
    height: 750px;
    min-width: 0;
    margin: 0 auto 100px auto;
}
.price-slider-slide {
    margin-top: 20px;
    position: relative;
    max-width: 380px;
    height: 691px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.country {
    position: absolute;
    width: 123px;
    height: 23px;
    left: 118px;
    top: -17px;
    background: #FFE690;
    border-radius: 2px;
    font-weight: 400;
    color: #FFFFFF;
}
.price-slide-textarea{
    max-width: 320px;
    max-height: 367px;
    margin: 40px auto 60px auto;
    height: 691px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.price-slide-header {
    margin-top: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #2b2b2b;
}
.price-slide-price {
    width: 100%;
    height: 46px;
    background: #52DDD3;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 24px;
    padding-top: 11px;
}
.price-slide-price span{
    font-weight: 500;
}
.price-slide-text {
    font-weight: 300;
    color: #2B2B2B;
}
.guarantee {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
    background: #FCFB9B;
    width: 100%;
    height: 100px;
    padding-top: 15px;
}
.guarantee span{
    font-weight: 800;
}
.price-slider-pagination .swiper-pagination{
    position: absolute;
}
.price-slider-pagination .swiper-pagination-bullet-active{
    width: 12px;
    height: 12px;
    background: #2B2B2B;
}
.price-slider-pagination .swiper-pagination-bullet-active-next,
.price-slider-pagination .swiper-pagination-bullet-active-prev{
    width: 12px;
    height: 12px;
    background: #CACACA;
}

.review-slider-slide_sec{
    height: 240px;
}



.child{
    background: radial-gradient(100% 525.78% at 100% 0%, #F6E5FF 0%, #F2F5FF 100%);
}
.child-box{
    max-width: 180px;
    height: 253px;
    display: block;
}
.child-box_img, .child-box_img img{
    height: 80px;
    text-align: center;
}
.child-header{
    margin: 24px auto 16px auto;
    width: 80%;
}
.child-text {
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
}



.why-cont{
    background: #F3FFFD;
    max-width: 1440px;
    margin: auto;
}
.why-cont-header{
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #2B2B2B;
    margin: 0px auto 90px auto;
    padding-top: 35px;
    text-align: center;
}
.why-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.why-box {
    max-width: 383px;
    margin-bottom: 60px;
}
.why-box_img {
    text-align: center;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 668px;
}
.about-kid{
    margin: 0;
}




.app-link-cont{
    width: 245px;
    height: 50px;
    position: relative;
    border: 1px solid #2B2B2B;
}

.app-link-cont:hover{
    background: url("../img/feedback_hover.png") no-repeat;
    background-size: 100%;
    border: none;
    right: -2px;
    top: -2px;
}


.kid-links {
    display:flex;
    justify-content: space-between;
    margin-top: 80px;
    height: 100px;
}
.kid-box{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.kid-links_link{
    font-weight: 300;
    color: #5F5F5F;
    text-decoration: underline;
}



.numbers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 150px;
}
.numbers-content {
    position: relative;
    width: 100%;
}
.numbers-header {
    position: absolute;
    z-index: -1;
    max-width: 115px;
    font-weight: 400;
    font-size: 100px;
    line-height: 117px;
    top: -70px;
}
.numbers1{
    background: linear-gradient(180deg, #FFEAB5 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.numbers2{
    background: linear-gradient(180deg, #EFC7FF 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.numbers3{
    background: linear-gradient(180deg, #FFB1BF 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.numbers4{
    background: linear-gradient(180deg, #ADF3EE 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.numbers-text {
    position: relative;
    max-width: 280px;
    font-weight: 200;
    color: #2b2b2b;
}


.boy_link{
    white-space: nowrap;
    position: absolute;
    right: 60px;
    bottom: 40px;
}
.boy_header{
    font-size: 24px;
    line-height: 28px;
}


.boy_little-cont{
    height: 90px;
}

.boy_little-box{
    justify-content: space-around;
}


.country_pink{
    background: #DC76EB;
}
.country_red{
    background: #FF095C;
}
.country_blue{
    background: #2BA2EE;
}
.guarantee_pink{
    background: #F8C6FF;
}
.guarantee_red{
    background: #FFA8C6;
}
.guarantee_blue{
    background: #83CFFF;
}


.implant{
    background: radial-gradient(74.97% 394.15% at 74.97% 43.07%, #ADF3EE 0%, #F3FFFE 100%);
}
.implant-text{
    max-width: 400px;
}



.tooth_imp-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    max-width: 280px;
}
.implant-box{
    display: flex;
    flex-direction: column;
    /* height: 253px; */
    max-width: 280px;
}


.stages {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 100px;
}
.stages-box {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    max-width: 345px;
}
.circle{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stages-box_number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #96DBFF;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.stages-box_header {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #2B2B2B;
    margin-top: 28px;
    margin-bottom: 16px;
}
.stages-box_text {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #2B2B2B;
}
.stage_number1{
    background-image: linear-gradient(26deg, #D7F1FF 50%, transparent 50%),
    linear-gradient(90deg, #D7F1FF 50%, #20B3FF 50%);
}
.stage_number2{
    background-image: linear-gradient(90deg, transparent 50%, #20B3FF 50%), 
    linear-gradient(135deg, #D7F1FF 50%, #20B3FF 50%);
}
.stage_number3{
    background-image: linear-gradient(90deg, transparent 50%, #20B3FF 50%),
    linear-gradient(270deg, #D7F1FF 50%, #20B3FF 50%);
}




.construct-header-border{
    width: 464px;
    height: 2px;
    background: linear-gradient(90deg, #E8F7FF 0%, #20B3FF 100%);
    margin-bottom: 36px;
}
.construct{
    max-width: 1440px;
    height: 620px;
    margin: auto;
    background: linear-gradient(269.47deg, #C0F7F3 0.41%, #F2FFFF 99.54%);
}
.construct-text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.construct-cont{
    height: 100%;
}
.construct_link{
    background: none;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.construct-header{
    margin-bottom: 20px;
    margin-top: 50px;
}
.construct-text{
    margin-bottom: 50px;
}
.construct-img_header{
    margin-top: 70px;
    font-weight: 300;
    color: #2B2B2B;
    text-align: end;
}


.implant-header{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
    width: 90%;
    margin: 34px auto;
}

.price_list{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #2B2B2B;
}





.dropdown-container {
    display: flex;
    justify-content: space-between;
}



.acor-item{
    max-width: 780px;
    position: relative;
    overflow: hidden;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.faq-acc__item::after {
    display: block;
    content: '';
    width: 100%;
}
.faq-acc__item:first-child:before {
    display: block;
    content: '';
    width: 100%;
}


.faq-acc__title {
    position: relative;
}
.faq-acc__panel {
    display: none;
    margin: 0;
    width: 95%;
    padding: 20px;
    line-height: 20px;
}
.faq-acc__title:before,
.faq-acc__title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 16px;
    height:  2px;
    background: linear-gradient(to top right, #d069ff, #5bc9ff);
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
.faq-acc__title:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(0deg);
}
.faq-acc__title:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(-90deg);
}
.faq-acc__title.active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: all 0.2s ease-in-out;
}
.faq-acc__title.active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}  
.acor-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 66%;
}


 .acor_header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    cursor: pointer;
}
.left_acor-header {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #2B2B2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_acor-header img{
    margin-right: 20px;
}
.acor_time {
    margin-top: 24px;
    margin-bottom: 36px;
    background: linear-gradient(86.9deg, #B2C9FF 1.05%, #E7EEFE 99.76%);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 135px;
    height: 32px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #2B2B2B;
}
.acor_descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #2B2B2B;
    margin-top: 32px;
    margin-bottom: 20px;
    width: 90%;
}
.acor_prices {
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
}
.acor_price {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #2B2B2B;
}
.acor_price span{
    font-weight: 600;
}








.price-right .discount:nth-child(1){
    background: linear-gradient(40.39deg, #E7EEFE 0%, #B2C9FF 99.22%);
}
.price-right .discount:nth-child(2){
    background: linear-gradient(39.72deg, #60C7C0 0.96%, #40F5E9 99.34%);
}
.discount {
    border-radius: 2px;
    max-width: 355px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.discount_first-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2B2B2B;
    text-align: center;
    max-width: 80%;
}
.discount_first-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #2B2B2B;
    max-width: 80%;
}






